<button class="btn" data-popup="{{ id }}">{{ buttonText }}</button>
<div class="popup" id="{{ id }}">
  <div class="popup__content">
    <button class="popup__close"><i class="fa fa-times" aria-hidden="true"></i><span class="webaim-hidden">Close popup</span></button>
    {% if title %}
      <h2>{{ title }}</h2>
    {% endif %}
    {{ content }}
  </div>
</div>